.Title {
  box-sizing: border-box;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  color: #222831;
  background-color: #ffd369;
}

.Title-Subtitle {
  color: rgba(34, 40, 49, 0.75);
  font-weight: bold;
}

.NavLink {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(34, 40, 49, 0.835);
  font-weight: bold;
  text-decoration: none;
}

.NavLink-Active {
  color: #eee;
  border-bottom: 2px solid;
}