.Footer {
  margin-top: 2em;
  padding: 1em;
  height: 10vh;
  background: #ffd369;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer > p {
  margin: 0;
  color: #222831;
}