.Title {
  box-sizing: border-box;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  color: #222831;
  background-color: #ffd369;
}

.Title-Subtitle {
  color: rgba(34, 40, 49, 0.75);
  font-weight: bold;
}